<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk1xDsfqoJ7l2fBkg23p8oNs1fiM8vaH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1078273485481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codespynner.io.tkconnect</string>
	<key>PROJECT_ID</key>
	<string>tkconnect-b4b64</string>
	<key>STORAGE_BUCKET</key>
	<string>tkconnect-b4b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078273485481:ios:9c4ed6376485b4269e97b8</string>
</dict>
</plist>